.deal__wheel {

    --size: clamp(250px, 80vmin, 700px);
    --lg-hs: 0 3%;
    --lg-stop: 50%;
    --lg: linear-gradient(
            hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
            hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
    );
    position: relative;
    display: grid;
    grid-gap: calc(var(--size) / 20);
    align-items: center;
    grid-template-areas:
    "spinner"
    "trigger";
    font-size: calc(var(--size) / 21);
}

.deal__wheel > * {
    grid-area: spinner;
}

.deal__wheel .btn-spin {
    grid-area: trigger;
    justify-self: center;
}